/* button {
    z-index: 1;
    text-align:center;
} */

.noselect {
    z-index: -1;
    position: relative;
}

h1 {
    color:#035642;
    font-family: "Avenir", sans-serif;
}

html {
    text-align:center;
}

.btn-cp {
    z-index:1000;
}

/* body {
    width: 250px;
    height: 500px;
} */